body {
    background-color: #f5f7fa;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    color: black;
}

/* Center the page content */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

/* Navigation bar */
nav {
    background-color: darkslategrey;
    padding: 12px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: cyan
}

/* Headings */
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: darkslategray;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
    color: #1b0c0c;
}

h3 {
    font-size: 22px;
    color: #1b0c0c;
}

/* Paragraphs */
p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Lists */
ul {
    background-color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

li {
    margin: 6px 0;
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
